body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin-bottom: 50px;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */
/* FLOATING BUTTON - rose inspired*/
.btn-1 {
    animation:btn-1 1s ease infinite;
    background-color: #a20417;
    color: #004019;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 30px;
    box-shadow: 0 20px 20px 0 #007144;
}

/* SHRINKING BUTTON - barbie inspired*/
.btn-2 {
    animation: btn-2 2s ease-in-out infinite alternate;
    background-color: #FFC0CB;
    color: #8B008B;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', sans-serif;
    font-weight: 700;
    font-style:italic;
    border: 5px solid #FC1392;
    border-radius: 20px;
}

/* GLOWING BUTTON - earthy tones*/
.btn-3 {
    animation: btn-3 1s ease-in-out infinite alternate;
    background-color: #4E6336;
    color: #E9CC9C; 
    font-family: georgia, serif;
    box-shadow: 0 0 5px 2px #BA4D41;
    border: 3px solid #F09B32;
    border-radius: none;
}

@keyframes btn-1 {
    0%, 100% {
        transform: translateY(-10px);
    } 
    50% {
        transform: translateY(0);
    }
}

@keyframes btn-2 {
   0% {
        width: 130px; 
        height: 40px;
    }
    100% {
        width: 150px; 
        height: 50px;  
    } 
}

@keyframes btn-3 {
    0% {
        box-shadow: 0 0 5px 2px #BA4D41;
    }
    100% {
        box-shadow: 0 0 50px 10px #BA4D41;
    }
}